@model ClinicWebAPI.Models.Consultation

@{
    ViewData["Title"] = "CreateConsultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language="javascript" type="text/javascript">
    var uri = "ws://" + "localhost:1774/notifications";

    function connect() {
        socket = new WebSocket(uri);
        socket.onopen = function (event) {
            console.log("opened connection to " + uri);
        };
        socket.onclose = function (event) {
            console.log("closed connection from " + uri);
        };
        socket.onmessage = function (event) {
            appendItem(event.data);
            console.log(event.data);
        };
        socket.onerror = function (event) {
            console.log("error: " + event.data);
        };
    }

    connect();
    var list = document.getElementById("notification");

    function appendItem(list, message) {
        var item = document.createElement("li");
        item.appendChild(document.createTextNode(message));
        list.appendItem(item);
    }
</script>

<h2>CreateConsultation</h2>

<h4>Consultation</h4>
<br />
<ul id="notification"></ul>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateConsultationAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient" class="control-label"></label>
                <input asp-for="Patient.Id" class="form-control" />
                <span asp-validation-for="Patient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor.Id" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Consultations">Back to List</a>
</div>

