@model ClinicWebAPI.Models.Consultation

@{
    ViewData["Title"] = "Delete Consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Consultation</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
    </dl>
    
    <form asp-action="DeleteConsultation">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Consultations">Back to all consultations</a>
    </form>
</div>
