@model IEnumerable<ClinicWebAPI.Models.Consultation>

@{
    ViewData["Title"] = "Patient's history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Consultation History</h2>

<p>
    <a asp-action="Consultations">Back to my consultations</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
        </tr>
}
    </tbody>
</table>
